<?php

use Doctrine\DBAL\Driver\PDO\MySQL\Driver as MySQLDriver;

return [
    'doctrine' => [
        'configuration' => [
            'orm_default' => [
                'generate_proxies' => true,
            ],
        ],
        'entitymanager' => [
            'orm_default' => [
                'configuration' => 'orm_default',
                'connection'    => 'development',
            ],
        ],
        'connection' => [
            'development' => [
                'driverClass' => MySQLDriver::class,
                'host'     => 'localhost',
                'port'     => '3306',
                'user'     => 'username',
                'password' => '',
                'dbname'   => 'database',
            ],
        ],
    ],
];
